---
# Shamelessly taken from https://github.com/plicease/Dist-Zilla-PluginBundle-Author-Plicease/blob/master/.appveyor.yml
# Thanks!
install:
    - if not exist C:\libtap mkdir C:\libtap
    - choco install strawberryperl
    - SET PATH=C:\strawberry\c\bin;C:\strawberry\perl\site\bin;C:\strawberry\perl\bin;%PATH%
    - perl -v
    - if not exist C:\Perl5 mkdir C:\Perl5
    - SET PY=C:\Python37-x64
    - copy %PY%\python.exe %PY%\python3.exe
    - SET PATH=%PY%;C:\msys64\bin;C:\Perl5\bin;C:\strawberry\c\bin;C:\strawberry\perl\site\bin;C:\strawberry\perl\bin;%PATH%
    - SET PERL5LIB=C:/Perl5/lib/perl5
    - SET PERL_LOCAL_LIB_ROOT=C:/Perl5
    - SET PERL_MB_OPT=--install_base C:/Perl5
    - SET PERL_MM_OPT=INSTALL_BASE=C:/Perl5
    - python -c "print('hi');"
    - python3 -c "print('hi');"
    - cpanm --notest autodie strict warnings Cwd Env::Path File::Basename File::Copy File::Path File::Spec File::Which Getopt::Long IO::All Moo Path::Tiny Perl::Tidy Test::Differences Test::More Test::PerlTidy Test::TrailingSpace Test::Trap
    - git clone https://github.com/shlomif/fc-solve
build: off
test_script:
    - set CMAKE_MAKE_PROGRAM=C:\strawberry\c\bin\gmake.exe
    - perl CI-testing/continuous-integration-testing.pl --gen="MSYS Makefiles"
cache:
    # - C:\libtap
    # - C:\Perl5
    # - C:\strawberry
shallow_clone: true
